html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

h1 {
	margin: 0;
}

a {
	color: #000099;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#main_menu {
	width: 200px;
	background-color: #eee;
	padding: 0;
	margin: 0;
	height: 100%;
	float: left;
	border-right: 1px solid #ccc;
}

#main_menu li {
	list-style-type: none;
}

#content {
	padding-left: 200px;
	height: 100%;
}

#customer_list_col {
	float: left;
	width: 200px;
	height: 100%;
	border-right: 1px solid #ccc;
}

#customer_show_col {
	padding-left: 200px;
	height: 100%;
}

.customer_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.customer_list li {
	padding-left: 10px;
}

.customer_list li:hover, .customer_list li.active {
	background-color: #eee;
}
